/* Genel ayarlar */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Tamamen siyah arka plan */
    color: #e0e0e0; /* Açık yazı rengi */
    margin: 0;
    padding:0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: auto; /* Yatay kaydırma çubuğunu göster */
    overflow-y: hidden; /* Dikey kaydırma çubuğunu gizle */
}

/* Container stil ayarları */
.container {
    padding: 20px;
    width: 100vw; /* Tam genişlik */
    max-width: 800px; /* Maksimum genişlik */
    box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Yeni eklenen başlık stil ayarları */
.main-title {
    font-size: 28px; /* Başlık boyutu */
    color: #fff; /* Beyaz renk */
    font-weight: 700; /* Kalın font */
    margin-bottom: 5px; /* Başlık ve alt başlık arasına boşluk */
    text-align: center;
}

.main-subtitle {
    font-size: 14px; /* Alt başlık boyutu */
    color: #bbb; /* Gri renk */
    font-weight: 300; /* İnce font */
    margin-bottom: 20px; /* Alt başlık ve diğer içerikler arasına boşluk */
    text-align: center;
}

/* Header Box stil ayarları */
.header-box {
    width: 100%; /* Tam genişlik */
    background-color: #282c30; /* Arka plan rengi */
    border-radius: 12px; /* Köşe yuvarlatmaları */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px; /* İkon ve yazı arasındaki boşluk */
    justify-content: flex-start; /* İkon ve yazıları sola hizala */
    box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}

/* Icon stil ayarları */
.header-icon {
    font-size: 40px; /* Daha büyük ikon boyutu */
    color: #ffdd57; /* Renkli ikon rengi */
}

/* Başlık stil ayarları */
.header-title {
    font-size: 16px; /* Başlık boyutu */
    margin: 0;
    color: #fff; /* Beyaz renk */
    font-weight: 650; /* Daha hafif kalınlık */
    margin-bottom: 5px; /* Başlık ve alt başlık arasına boşluk */
    text-align: left; /* Soldan hizalama */
}

/* Alt başlık stil ayarları */
.sub-title {
    font-size: 12px;
    color: #bbb; /* Hafif gri */
    margin: 0;
    text-align: left; /* Soldan hizalama */
}

/* Input stil ayarları */
input[type="text"] {
    width: 100%; /* Tam genişlik */
    padding: 12px;
    margin-bottom: 15px;
    border: none; /* Kenarlık kaldırıldı */
    border-radius: 8px; /* Köşe yuvarlatmaları */
    font-size: 16px;
    background-color: #333; /* Koyu gri arka plan */
    color: #fff; /* Beyaz yazı rengi */
    text-align: center;
    box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}

/* Placeholder stil ayarları */
input[type="text"]::placeholder {
    color: #888; /* Placeholder rengi */
}

/* Şifre üret butonu stil ayarları */
button.generate-button {
    padding: 12px 20px;
    background-color: rgb(90,96,254); /* Buton rengi */
    color: #fff; /* Beyaz yazı rengi */
    border: none; /* Kenarlık kaldırıldı */
    border-radius: 8px; /* Köşe yuvarlatmaları */
    font-size: 16px;
    cursor: pointer;
    width: 90%; /* Daha uzun buton */
}

/* Kopyala butonu stil ayarları */
button.copy-button {
    padding: 0; /* İç boşluk yok */
    background-color: rgb(90,96,254); /* Buton rengi */
    color: #fff; /* Beyaz yazı rengi */
    border: none; /* Kenarlık kaldırıldı */
    border-radius: 4px; /* Kare köşeler */
    font-size: 24px; /* Simge boyutu */
    cursor: pointer;
    width: 48px; /* Sabit genişlik */
    height: 48px; /* Sabit yükseklik */
}

/* Buton disable durumunda stil ayarları */
button:disabled {
    background-color: #666; /* Disable durumu arka plan rengi */
    cursor: not-allowed;
}

/* Buton hover durumunda stil ayarları */
button:hover:not(:disabled) {
    /* Hover efekti kaldırıldı */
    background-color: rgb(90,96,254); /* Aynı buton rengi */
    transform: none; /* Animasyon kaldırıldı */
}


/* Sonuç stil ayarları */
#result {
    font-size: 18px;
    color: #fff; /* Beyaz yazı rengi */
    margin-bottom: 10px; /* Butonlar ile araya boşluk ekleme */
}

/* Kopyala ikon stili */
.copy-icon {
    cursor: pointer;
    font-size: 24px; /* İkon boyutu */
    color: #fff; /* İkon rengi */
}

/* Butonlar için container */
.button-container {
    display: flex;
    justify-content: space-between; /* Butonları sağa ve sola yasla */
    width: 100%;
    margin-top: 100px; /* Butonları sayfanın en altından 100px yukarıda tut */
}
