/* Genel ayarlar */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Düz siyah arka plan rengi */
    color: #f0f0f0; /* Açık yazı rengi */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ekranı tamamen kapla */
}

/* Container stil ayarları */
.container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto; /* Ortalamayı sağlamak için */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* Alert box ile generate box arasında boşluk */
}

/* Alert Box stil ayarları */
.alert-box {
    padding: 20px;
    background-color: #333; /* Koyu gri arka plan */
    border-radius: 10px;
    color: #ffcc00;
    font-size: 18px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; /* Ortalamayı sağlamak için */
}

/* Generate Box stil ayarları */
.generate-box {
    padding: 20px;
    background-color: #222; /* Koyu gri arka plan rengi */
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Başlık stil ayarları */
h1 {
    font-size: 32px;
    margin: 0;
    color: #fff;
}

/* Paragraf stil ayarları */
p {
    font-size: 18px;
    color: #ddd;
    margin: 20px 0; /* Üst ve alt boşlukları ayarla */
}

/* Input stil ayarları */
input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin-bottom: 20px; /* Üst ve alt boşlukları ortala */
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #333; /* Koyu gri arka plan */
    color: #fff;
    text-align: center;
}

/* Placeholder stil ayarları */
input[type="text"]::placeholder {
    color: #888;
}

/* Buton stil ayarları */
button {
    padding: 15px 25px;
   
    background-color: #ffcc00; /* Altın sarısı düğme rengi */
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px; /* Üst ve alt boşlukları ortala */
    display: block; /* Ortalamayı sağlamak için */
}

/* Buton disable durumunda stil ayarları */
button:disabled {
    background-color: #666;
    cursor: not-allowed;
}

/* Buton hover durumunda stil ayarları */
button:hover:not(:disabled) {
    background-color: #e6b800;
}

/* Sonuç stil ayarları */
#result {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

/* Kopyala ikon stili */
#result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* İkon ile şifre arasındaki boşluk */
}

.copy-icon {
    cursor: pointer;
    font-size: 24px; /* İkon boyutunu büyüt */
    color: #ffcc00;
    transition: color 0.3s;
}

.copy-icon:hover {
    color: #e6b800;
}
