body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.page1-container {
    width: 100vw;
    max-width: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    padding-bottom: 75px; /* Alt kısımda yer bırakıyoruz */
}

/* Başlık ve alt başlık */
.page1-title {
    font-size: 28px; /* Biraz daha büyük başlık */
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px; /* Üst başlıkla alt başlık arası daha yakın */
}

.page1-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #b0b0b0;
    text-align: center;
    margin-bottom: 30px; /* Alt başlık ile içerik arası daha fazla boşluk */
}

/* Sunucu kartları */
.page1-info-header {
    width: 100%;
    background-color: #282c30;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px; /* İkon ve içerik arasındaki boşluğu daralttık */
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

/* İkon ve içerik stili */
.page1-info-icon {
    font-size: 36px; /* Biraz daha küçük ikon */
    color: #ffdd57;
}

.page1-info-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.page1-info-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.page1-info-left div:first-child {
    font-weight: bold;
}

.page1-info-right {
    text-align: right;
    font-weight: bold;
    color: #ffdd57; /* Sağdaki metni sarıya boyuyoruz */
}
